@section Styles{
<link rel="stylesheet" href="~/css/documentation.css" asp-append-version="true" />
}
<div class="page-header">
    <h1 class="page-title">Документация и Ресурси</h1>
    <p class="page-subtitle">Намери официалната документация, книги и учебни материали за вашия любим език за програмиране. Всички ресурси са безплатни и достъпни онлайн.</p>
</div>


<div class="languages-grid">
    <!-- Python Card -->
    <div class="language-card">
        <div class="language-header">
            <div class="language-icon python-icon">
                <i class="fab fa-python"></i>
            </div>
            <h2 class="language-name">Python</h2>
        </div>
        <ul class="resources-list">
            <li class="resource-item">
                <a href="https://docs.python.org/3/" target="_blank" class="resource-link">
                    <i class="fas fa-book-open"></i> Официална документация
                    <span class="resource-type type-docs">Docs</span>
                </a>
            </li>
            <li class="resource-item">
                <a href="https://wiki.python.org/moin/BeginnersGuide" target="_blank" class="resource-link">
                    <i class="fas fa-graduation-cap"></i> Ръководство за начинаещи
                    <span class="resource-type type-docs">Guide</span>
                </a>
            </li>
            <li class="resource-item">
                <a href="https://automatetheboringstuff.com/" target="_blank" class="resource-link">
                    <i class="fas fa-book"></i> Automate the Boring Stuff
                    <span class="resource-type type-book">Book</span>
                </a>
            </li>
            <li class="resource-item">
                <a href="https://www.youtube.com/watch?v=_uQrJ0TkZlc" target="_blank" class="resource-link">
                    <i class="fab fa-youtube"></i> Python за начинаещи (видео)
                    <span class="resource-type type-video">Video</span>
                </a>
            </li>
            <li class="resource-item">
                <a href="https://realpython.com/" target="_blank" class="resource-link">
                    <i class="fas fa-laptop-code"></i> Real Python Tutorials
                    <span class="resource-type type-docs">Tutorials</span>
                </a>
            </li>
        </ul>
    </div>

    <!-- JavaScript Card -->
    <div class="language-card">
        <div class="language-header">
            <div class="language-icon js-icon">
                <i class="fab fa-js"></i>
            </div>
            <h2 class="language-name">JavaScript</h2>
        </div>
        <ul class="resources-list">
            <li class="resource-item">
                <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank" class="resource-link">
                    <i class="fas fa-book-open"></i> MDN JavaScript Docs
                    <span class="resource-type type-docs">Docs</span>
                </a>
            </li>
            <li class="resource-item">
                <a href="https://javascript.info/" target="_blank" class="resource-link">
                    <i class="fas fa-graduation-cap"></i> Modern JavaScript Tutorial
                    <span class="resource-type type-docs">Tutorial</span>
                </a>
            </li>
            <li class="resource-item">
                <a href="https://eloquentjavascript.net/" target="_blank" class="resource-link">
                    <i class="fas fa-book"></i> Eloquent JavaScript
                    <span class="resource-type type-book">Book</span>
                </a>
            </li>
            <li class="resource-item">
                <a href="https://www.youtube.com/watch?v=PkZNo7MFNFg" target="_blank" class="resource-link">
                    <i class="fab fa-youtube"></i> JS за начинаещи (видео)
                    <span class="resource-type type-video">Video</span>
                </a>
            </li>
            <li class="resource-item">
                <a href="https://github.com/getify/You-Dont-Know-JS" target="_blank" class="resource-link">
                    <i class="fab fa-github"></i> You Don't Know JS
                    <span class="resource-type type-book">Book</span>
                </a>
            </li>
        </ul>
    </div>

    <!-- Java Card -->
    <div class="language-card">
        <div class="language-header">
            <div class="language-icon java-icon">
                <i class="fab fa-java"></i>
            </div>
            <h2 class="language-name">Java</h2>
        </div>
        <ul class="resources-list">
            <li class="resource-item">
                <a href="https://docs.oracle.com/en/java/" target="_blank" class="resource-link">
                    <i class="fas fa-book-open"></i> Oracle Java Docs
                    <span class="resource-type type-docs">Docs</span>
                </a>
            </li>
            <li class="resource-item">
                <a href="https://dev.java/learn/" target="_blank" class="resource-link">
                    <i class="fas fa-graduation-cap"></i> Официални уроци
                    <span class="resource-type type-docs">Tutorials</span>
                </a>
            </li>
            <li class="resource-item">
                <a href="https://www.amazon.com/Effective-Java-Joshua-Bloch/dp/0134685997" target="_blank" class="resource-link">
                    <i class="fas fa-book"></i> Effective Java
                    <span class="resource-type type-book">Book</span>
                </a>
            </li>
            <li class="resource-item">
                <a href="https://www.youtube.com/watch?v=eIrMbAQSU34" target="_blank" class="resource-link">
                    <i class="fab fa-youtube"></i> Java за начинаещи (видео)
                    <span class="resource-type type-video">Video</span>
                </a>
            </li>
            <li class="resource-item">
                <a href="https://www.baeldung.com/" target="_blank" class="resource-link">
                    <i class="fas fa-laptop-code"></i> Baeldung Tutorials
                    <span class="resource-type type-docs">Tutorials</span>
                </a>
            </li>
        </ul>
    </div>

    <!-- C# Card -->
    <div class="language-card">
        <div class="language-header">
            <div class="language-icon csharp-icon">
                <i class="fas fa-copyright"></i>
            </div>
            <h2 class="language-name">C#</h2>
        </div>
        <ul class="resources-list">
            <li class="resource-item">
                <a href="https://docs.microsoft.com/en-us/dotnet/csharp/" target="_blank" class="resource-link">
                    <i class="fas fa-book-open"></i> Microsoft C# Docs
                    <span class="resource-type type-docs">Docs</span>
                </a>
            </li>
            <li class="resource-item">
                <a href="https://dotnet.microsoft.com/learn/csharp" target="_blank" class="resource-link">
                    <i class="fas fa-graduation-cap"></i> Изучаване на C#
                    <span class="resource-type type-docs">Tutorials</span>
                </a>
            </li>
            <li class="resource-item">
                <a href="https://www.manning.com/books/c-sharp-in-depth" target="_blank" class="resource-link">
                    <i class="fas fa-book"></i> C# in Depth
                    <span class="resource-type type-book">Book</span>
                </a>
            </li>
            <li class="resource-item">
                <a href="https://www.youtube.com/watch?v=GhQdlIFylQ8" target="_blank" class="resource-link">
                    <i class="fab fa-youtube"></i> C# за начинаещи (видео)
                    <span class="resource-type type-video">Video</span>
                </a>
            </li>
            <li class="resource-item">
                <a href="https://csharp.net-tutorials.com/" target="_blank" class="resource-link">
                    <i class="fas fa-laptop-code"></i> C# Tutorials
                    <span class="resource-type type-docs">Tutorials</span>
                </a>
            </li>
        </ul>
    </div>

    <!-- C/C++ Card -->
    <div class="language-card">
        <div class="language-header">
            <div class="language-icon c-icon">
                <i class="fas fa-c"></i>
            </div>
            <h2 class="language-name">C/C++</h2>
        </div>
        <ul class="resources-list">
            <li class="resource-item">
                <a href="https://devdocs.io/c/" target="_blank" class="resource-link">
                    <i class="fas fa-book-open"></i> C Language Docs
                    <span class="resource-type type-docs">Docs</span>
                </a>
            </li>
            <li class="resource-item">
                <a href="https://en.cppreference.com/w/" target="_blank" class="resource-link">
                    <i class="fas fa-book-open"></i> C++ Reference
                    <span class="resource-type type-docs">Docs</span>
                </a>
            </li>
            <li class="resource-item">
                <a href="https://www.amazon.com/Programming-Language-2nd-Brian-Kernighan/dp/0131103628" target="_blank" class="resource-link">
                    <i class="fas fa-book"></i> The C Programming Language
                    <span class="resource-type type-book">Book</span>
                </a>
            </li>
            <li class="resource-item">
                <a href="https://www.youtube.com/watch?v=KJgsSFOSQv0" target="_blank" class="resource-link">
                    <i class="fab fa-youtube"></i> C за начинаещи (видео)
                    <span class="resource-type type-video">Video</span>
                </a>
            </li>
            <li class="resource-item">
                <a href="https://www.learncpp.com/" target="_blank" class="resource-link">
                    <i class="fas fa-laptop-code"></i> Learn C++
                    <span class="resource-type type-docs">Tutorials</span>
                </a>
            </li>
        </ul>
    </div>

    <!-- Additional Resources Card -->
    <div class="language-card">
        <div class="language-header">
            <div class="language-icon">
                <i class="fas fa-plus"></i>
            </div>
            <h2 class="language-name">Допълнителни Ресурси</h2>
        </div>
        <ul class="resources-list">
            <li class="resource-item">
                <a href="https://github.com/" target="_blank" class="resource-link">
                    <i class="fab fa-github"></i> GitHub
                    <span class="resource-type type-docs">Code</span>
                </a>
            </li>
            <li class="resource-item">
                <a href="https://stackoverflow.com/" target="_blank" class="resource-link">
                    <i class="fab fa-stack-overflow"></i> Stack Overflow
                    <span class="resource-type type-docs">Q&A</span>
                </a>
            </li>
            <li class="resource-item">
                <a href="https://www.freecodecamp.org/" target="_blank" class="resource-link">
                    <i class="fas fa-laptop-code"></i> freeCodeCamp
                    <span class="resource-type type-docs">Courses</span>
                </a>
            </li>
            <li class="resource-item">
                <a href="https://www.codecademy.com/" target="_blank" class="resource-link">
                    <i class="fas fa-code"></i> Codecademy
                    <span class="resource-type type-docs">Courses</span>
                </a>
            </li>
            <li class="resource-item">
                <a href="https://leetcode.com/" target="_blank" class="resource-link">
                    <i class="fas fa-puzzle-piece"></i> LeetCode
                    <span class="resource-type type-docs">Practice</span>
                </a>
            </li>
        </ul>
    </div>
</div>