@inherits LayoutComponentBase
<div class="page">
    <div class="">
        <NavMenu/>
    </div>

    <main>
        <article style="margin-top: 6em" class="content px-4">
            @Body
        </article>
    </main>
    <footer>
        <div class="container">
            <div class="footer-container">
                <div class="footer-about">
                    <div class="footer-logo">CodeFlow</div>
                    <p>Иновативна платформа за обучение по програмиране чрез интерактивни видеа, практически предизвикателства и код двубои.</p>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-github"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                        <a href="#"><i class="fab fa-discord"></i></a>
                    </div>
                </div>

                <div class="footer-links">
                    <h3>Курсове</h3>
                    <ul>
                        <li><a href="#">Python</a></li>
                        <li><a href="#">JavaScript</a></li>
                        <li><a href="#">C# & .NET</a></li>
                        <li><a href="#">Java</a></li>
                        <li><a href="#">Алгоритми</a></li>
                    </ul>
                </div>

                <div class="footer-links">
                    <h3>Ресурси</h3>
                    <ul>
                        <li><a href="#">Документация</a></li>
                        <li><a href="#">Често задавани въпроси</a></li>
                        <li><a href="#">Форум</a></li>
                        <li><a href="#">Блог</a></li>
                        <li><a href="#">Код двубои</a></li>
                    </ul>
                </div>

                <div class="footer-links">
                    <h3>Компания</h3>
                    <ul>
                        <li><a href="#">За нас</a></li>
                        <li><a href="#">Екип</a></li>
                        <li><a href="#">Кариери</a></li>
                        <li><a href="#">Контакти</a></li>
                        <li><a href="#">Партньори</a></li>
                    </ul>
                </div>
            </div>

            <div class="copyright">
                © 2023 CodeFlow. Всички права запазени. | <a href="#" style="color: #64748b;">Условия за ползване</a> | <a href="#" style="color: #64748b;">Политика за поверителност</a>
            </div>
        </div>
    </footer>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
