<footer>
        <div class="footer-content">
            <div class="footer-about">
                <div class="footer-logo">
                    <span class="logo-icon"><i class="fas fa-code"></i></span>
                    <span class="logo-text">CodeHub</span>
                </div>
                <p class="footer-text">Научи програмирането чрез игри, двубои и реални предизвикателства. Присъедини се към нашата общност днес!</p>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-x-twitter"></i></a>
                    <a href="#"><i class="fab fa-github"></i></a>
                <a href="https://discord.gg/ufyYWwbd5B"><i class="fab fa-discord"></i></a>
                </div>
            </div>

            <div class="footer-links">
                <h4>Курсове</h4>
                <ul>
                    <li><a href="#">JavaScript</a></li>
                    <li><a href="#">Python</a></li>
                    <li><a href="#">C#</a></li>
                    <li><a href="#">C</a></li>
                    <li><a href="#">Java</a></li>
                </ul>
            </div>

            <div class="footer-links">
                <h4>Ресурси</h4>
                <ul>
                    <li><a href="/Resources/Documentation">Документация</a></li>
                    <li><a href="/Resources/FAQ">Често задавани въпроси</a></li>
                    <li><a href="/forum">Блог</a></li>
                    <li><a href="#">Партньори</a></li>
                </ul>
            </div>

            <div class="footer-links">
                <h4>За нас</h4>
                <ul>
                    <li><a href="#">Екип</a></li>
                    <li><a href="/AboutUs/Contacts">Контакти</a></li>
                    <li><a href="/AboutUs/Conditions">Условия</a></li>
                    <li><a href="/AboutUs/Privacy">Поверителност</a></li>
                </ul>
            </div>
        </div>

        <div class="copyright">
            © @DateTime.Now.Year CodeBattle. Всички права запазени.
        </div>
        </footer>
