@using Microsoft.AspNetCore.Identity
@using BusinessLayer

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        @if (User.IsInRole("Administrator"))
        {
            <li class="nav-item">
                <a asp-controller="Admin" asp-action="Index" class="user-icon">
                    <img src="~/images/admin.jpg" alt="" class="avatar" />
                </a>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a asp-area="Identity" asp-page="/Account/Manage/Index" class="user-icon">
                    <img src="~/images/avatar.jpg" alt="" class="avatar" />
                </a>
            </li>
        }
    }
    else
    {
        <div class="user-actions">
            <a asp-area="Identity" id="login" asp-page="/Account/Login" class="btn btn-outline"><i class="fas fa-sign-in-alt"></i> Вход</a>
            <a asp-area="Identity" id="register" asp-page="/Account/Register" class="btn btn-primary"><i class="fas fa-user-plus"></i> Регистрация</a>
        </div>
    }
</ul>
