@using BusinessLayer
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li>
            
        <div class="">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
            <span class="bi bi-person-fill-nav-menu"
        aria-hidden="true"></span> Account
            </a>
            </div>
        </li>
    }
    else
    {
        <li>
        <div style="display: flex" class="">
            <a style="border-radius: 25px" class="nav-link btn btn-primary" asp-area="Identity" asp-page="/Account/Login">
                <span class="bi bi-person-nav-menu" style="margin-left: 10px;margin-right: 10px;"
                      aria-hidden="true"></span>
            </a>
        </div>
        </li>
        
    }
</ul>
